# mercurial hg
*.orig
*.swp

# operation system file
.DS_Store
.Thumbs.db
*.exe
*.lib
*.dll

# Visual Studio
*.sdf
*.pdb
*.ilk
*.tlog
*.log
*.opensdf
*.dep
Release
Debug
ipch
*.LinkFileList
!*ruby*
*.LinkFileList
._*

# Xcode
xcuserdata

# etc
version.cpp
*.header
*.hmap
*.dat
*.tmp
*.bmp
*.jpg
*.png
*.bak
*.txt
